<!-- Footer -->
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="12u">

        <!-- Contact -->
          <section class="contact">
            <header>
              <h3>¡Síguenos!</h3>
            </header>
            <ul class="icons">
              <li><a target="_blank" title="Twitter" href="https://twitter.com/RespiraPsi" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a target="_blank" title="Facebook" href="https://www.facebook.com/respirapsicolegs" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            </ul>
          </section>

        <!-- Copyright -->
          <div class="copyright">
            <ul class="menu">
              <li>&copy; Respira Psicòlegs <%= Time.now.year %>. Todos los derechos reservados.</li><li>Diseño: <a target="_blank" href="http://html5up.net">HTML5 UP</a></li>
            </ul>
          </div>

      </div>

    </div>
  </div>
</div>