<nav id="nav">
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/que-es-respira">¿Qué es respira?</a></li>
    <li><a href="/por-que-consultar">¿Por qué consultar?</a></li>
    <li><a href="/como-trabajamos">¿Cómo trabajamos?</a></li>
    <li><a href="/tarifas-y-contacto">Tarifas y contacto</a></li>
  </ul>
</nav>