---
css_class: no-sidebar como-trabajamos
---

<div id="header">
  <%= partial 'navbar' %>
</div>

<div class="wrapper style1">

  <div class="container">
    <article id="main" class="special">
      <header>
        <h2><a href="/como-trabajamos">¿Cómo trabajamos?</a></h2>
      </header>
      <section class="8u -2u">
        <p>
          Nuestra formación teórica y práctica pertenece a la rama psicológica Cognitivo Conductual, pero disponemos de conocimientos de otras técnicas provenientes de otras corrientes psicológicas que consideramos pueden ser útiles para mejorar la situación de nuestros pacientes.
        </p>
        <p>
          ¿Cómo será el proceso terapéutico que llevaremos a cabo? El primer encuentro con nosotros nos dedicaremos a definir los problemas a tratar y trazaremos un plan para cambiar dicha situación, siendo la terapia totalmente personalizada dependiendo de las necesidades terapéuticas de cada persona.
        </p>
        <p>
          La terapia individual se basa en un proceso de diálogo entre el paciente y el psicólogo donde creamos un ambiente seguro que permita establecer una conexión emocional entre paciente y terapeuta con el fin de conocer la forma que tiene el paciente de interpretar las diferentes situaciones que se le presentan y de reaccionar frente a ellas y, a su vez, facilitar la la libre expresión de sus emociones, pensamientos y comportamientos.
        </p>
        <p>
          Entre sesión y sesión se incluyen tareas prácticas para poder seguir trabajando todo aquello tratado durante la visita, con el objetivo de generalizar e interiorizar los nuevos recursos y observar así un cambio conductual, cognitivo o emocional mucho más rápido.
        </p>
        <p>
          La corriente Cognitivo-Conductual considera que las personas nacemos con una genética y un determinado temperamento, a partir de los cuales empezamos a interactuar con todo lo que nos rodea, adquiriendo nuestra manera habitual de pensar, sentir y actuar.
        </p>
        <p>
          Algunos aprendizajes que adquirimos con la experiencia nos ayudan a sentirnos bien, a relacionarnos adecuadamente con los demás, a superar las dificultades y a lograr nuestros objetivos. Otros en cambio, nos generan malestar emocional, dañan nuestra salud y nuestras relaciones interpersonales y nos alejan de las sensaciones de bienestar.
        </p>
        <p>
          La terapia Cognitivo-Conductual asume que los pensamientos poco realistas causan comportamientos contraproducentes y emociones negativas que interfieren con la vida diaria. Uno de los objetivos de la terapia es detectar estos pensamientos para poder modificarlos por otros más adaptativos, manejando así los comportamientos relacionados con su padecimiento.
        </p>
      </section>
    </article>
  </div>

</div>