---
css_class: homepage
---

<!-- Header -->
<div id="header">

  <!-- Inner -->
    <div class="inner">
      <footer>
        <a href="#banner" class="button circled scrolly">Inicio</a>
      </footer>
    </div>

  <%= partial 'navbar' %>

</div>

<!-- Banner -->
<section id="banner">
  <header>
    <h2>Tómate un tiempo para ti y… ¡Respira!</h2>
  </header>
</section>

<!-- Carousel -->
<section class="carousel">
  <div class="reel">

    <article>
      <a href="/que-es-respira" class="image featured">
        <img src="images/que_es.jpg" alt="¿Qué es respira?" />
      </a>
      <header>
        <h3><a href="/que-es-respira">¿Qué es Respira?</a></h3>
      </header>
    </article>
    <article>
      <a href="/por-que-consultar" class="image featured">
        <img src="images/porque.jpg" alt="¿Por qué consultar?" />
      </a>
      <header>
        <h3><a href="/por-que-consultar">¿Por qué consultar?</a></h3>
      </header>
    </article>
    <article>
      <a href="/como-trabajamos" class="image featured">
        <img src="images/como.jpg" alt="¿Cómo trabajamos?" />
      </a>
      <header>
        <h3><a href="/como-trabajamos">¿Cómo trabajamos?</a></h3>
      </header>
    </article>
    <article>
      <a href="/tarifas-y-contacto" class="image featured">
        <img src="images/tarifas.jpg" alt="Tarifas y contacto" />
      </a>
      <header>
        <h3><a href="/tarifas-y-contacto">Tarifas y contacto</a></h3>
      </header>
    </article>

  </div>
</section>