---
css_class: no-sidebar
---

<div id="header">
  <%= partial 'navbar' %>
</div>

<div class="wrapper style1">

  <div class="container">
    <article id="main" class="special">
      <header>
        <h2><a href="/porque">¿Por qué consultar?</a></h2>
      </header>
      <section class="10u -1u">
        <p>
          La decisión de consultar a un psicólogo no resulta sencilla, pero es un paso importante para empezar a afrontar las dificultades e iniciar el cambio hacia una vida más satisfactoria.  Iniciar una terapia psicológica implica un compromiso hacia uno mismo, sólo haciéndonos realmente conscientes de lo que nos pasa y trabajando para superarlo seremos capaces de dejar atrás las dificultades que impiden nuestro bienestar. 
        </p>
        <p>
          No obstante, la psicología no sólo existe para ayudar a superar problemáticas diversas. Muchas personas suelen acudir también a consulta debido a una necesidad de autosuperación, buscando potenciar sus capacidades y adquirir estrategias y recursos que les permitan sentirse más plenos y realizados. 
        </p>
        <p>
          En realidad, existen numerosas razones por las cuales se puede buscar una ayuda externa de un psicólogo:
        </p>
      </section>

      <div class="row">

        <section class="4u -1u">
          <header>
            <h3>Estados de ánimo</h3>
          </header>
          <p>Depresión, melancolía, apatía emocional, falta de motivación, falta de concentración, sentimiento de inutilidad o pérdida de un ser querido.</p>
        </section>

        <section class="4u -1u">
          <header>
            <h3>Estados ansiosos</h3>
          </header>
          <p>Ansiedad, estrés, ataques de pánico, crisis de angustia, hipocondría, estrés post-traumático, maltrato físico o psicológico, obsesiones o manías.</p>
        </section>

      </div>

      <div class="row">
        <section class="4u -1u">
          <header>
            <h3>Problemas afectivos</h3>
          </header>
          <p>Dependencia emocional, vergüenza, frialdad o rigidez afectiva, sentimientos contrapuestos, exceso /falta de empatía emocional o cambios de humor.</p>
        </section>

        <section class="4u -1u">
          <header>
            <h3>Autocontrol</h3>
          </header>
          <p>Depresión, melancolía, apatía emocional, falta de motivación, falta de concentración, sentimiento de inutilidad o pérdida de un ser querido.</p>
        </section>
      </div>

      <div class="row">
        <section class="4u -1u">
          <header>
            <h3>Problemas afectivos</h3>
          </header>
          <p>Dependencia emocional, vergüenza, frialdad o rigidez afectiva, sentimientos contrapuestos, exceso /falta de empatía emocional o cambios de humor.</p>
        </section>

        <section class="4u -1u">
          <header>
            <h3>Autocontrol</h3>
          </header>
          <p>Depresión, melancolía, apatía emocional, falta de motivación, falta de concentración, sentimiento de inutilidad o pérdida de un ser querido.</p>
        </section>
      </div>

      <div class="row">
        <section class="4u -1u">
          <header>
            <h3>Problemas afectivos</h3>
          </header>
          <p>Dependencia emocional, vergüenza, frialdad o rigidez afectiva, sentimientos contrapuestos, exceso /falta de empatía emocional o cambios de humor.</p>
        </section>

        <section class="4u -1u">
          <header>
            <h3>Autocontrol</h3>
          </header>
          <p>Depresión, melancolía, apatía emocional, falta de motivación, falta de concentración, sentimiento de inutilidad o pérdida de un ser querido.</p>
        </section>
      </div>

      <div class="row">
        <section class="4u -1u">
          <header>
            <h3>Problemas afectivos</h3>
          </header>
          <p>Dependencia emocional, vergüenza, frialdad o rigidez afectiva, sentimientos contrapuestos, exceso /falta de empatía emocional o cambios de humor.</p>
        </section>

        <section class="4u -1u">
          <header>
            <h3>Autocontrol</h3>
          </header>
          <p>Depresión, melancolía, apatía emocional, falta de motivación, falta de concentración, sentimiento de inutilidad o pérdida de un ser querido.</p>
        </section>
      </div>

      <div class="row">
        <section class="4u -1u">
          <header>
            <h3>Problemas psicosomáticos y síntomas relacionados con enfermedades crónicas</h3>
          </header>
          <p>Dependencia emocional, vergüenza, frialdad o rigidez afectiva, sentimientos contrapuestos, exceso /falta de empatía emocional o cambios de humor.</p>
        </section>
      </div>
    </article>
  </div>

</div>